In [1]:
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
import numpy as np

# Para padronização dos dados
from sklearn.preprocessing import StandardScaler

# Para separação em amostra de treino e teste
from sklearn.model_selection import train_test_split

# Cross-validation
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import cross_val_predict
from sklearn.model_selection import GridSearchCV

# Modelos
from sklearn.linear_model import SGDClassifier
from sklearn.svm import SVC

# Métrica de erro
from sklearn.metrics import confusion_matrix
from sklearn.metrics import precision_score, recall_score
from sklearn.metrics import f1_score
from sklearn.metrics import classification_report
from sklearn.metrics import roc_curve, auc

In [3]:
import urllib.request

filepath = "../dataset/"
url = "https://tvml.github.io/ml1920/dataset/"

def get_file(filename,local):
    if local:
        return filepath+filename
    else:
        urllib.request.urlretrieve (url+filename, filename)
        return filename

In [4]:
df = pd.read_csv(get_file('employee_turnover.csv',False), sep = ',', index_col=0 )

In [5]:
df.head(5)

,x1_department,x2_salary,x3_timecompany,x4_promotion5yr,x5_workaccident,x6_workhours,x7_nprojects,x8_lasteval,x9_satisflevel,y_empleft
1,sales,low,3,0,0,157,2,53,38,1
2,sales,medium,6,0,0,262,5,86,80,1
3,sales,medium,4,0,0,272,7,88,11,1
4,sales,low,5,0,0,223,5,87,72,1
5,sales,low,3,0,0,159,2,52,37,1

In [6]:
features = df.loc[:,['x3_timecompany',	'x6_workhours',	'x7_nprojects',	'x8_lasteval', 'x4_promotion5yr',	'x5_workaccident',	'x9_satisflevel']]
labels = df.loc[:,['y_empleft']]

In [7]:
dep_dummies = pd.get_dummies(df['x1_department'])
sal_dummies = pd.get_dummies(df['x2_salary'])

In [9]:
features = pd.concat([features, dep_dummies, sal_dummies], axis = 1)

In [10]:
sc = StandardScaler()
features2 = sc.fit_transform(features)

In [11]:
X_train, X_test, y_train, y_test = train_test_split(features2, labels, test_size = 0.2, shuffle=True, random_state = 12345)

In [14]:
model1 = SGDClassifier(random_state=42)
model1 = model1.fit(X_train, y_train.ravel())

AttributeError: 'DataFrame' object has no attribute 'ravel'

In [ ]:
y_train_pred1 = modelo1.predict(X_train)