In [1]:
import pandas as pd
data = pd.io.stata.read_stata('~/Downloads/health.dta')
data.to_csv('health.csv')

In [2]:
data.head()

,NONDOCCO,SEX,AGE,INCOME,LEVYPLUS,FREEPOOR,FREEREPA,ILLNESS,ACTDAYS,HSCORE,CHCOND1,CHCOND2
0,0.0,1.0,0.19,0.55,1.0,0.0,0.0,1.0,4.0,1.0,0.0,0.0
1,0.0,1.0,0.19,0.45,1.0,0.0,0.0,1.0,2.0,1.0,0.0,0.0
2,0.0,0.0,0.19,0.90,0.0,0.0,0.0,3.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.19,0.15,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.19,0.45,0.0,0.0,0.0,2.0,5.0,1.0,1.0,0.0

In [3]:
data.shape

(5190, 12)